NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USERNAME:YOUR_PASSWORD@localhost:5432/member_api_access?schema=public"

JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="1h"

CORS_ORIGIN="http://localhost:3000"